<!DOCTYPE html>
<html>
<head>
    <title>株価予測アプリ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>株価予測</h1>
    <form method="get">
        <input type="text" name="query" placeholder="企業名または証券コード" value="{{ query }}">
        <button type="submit">予測</button>
    </form>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if prediction %}
        <div>
            <strong>{{ company_name }}（{{ company_code }}）</strong><br>
            <p style="margin-bottom: 2px;">　終値: {{ latest_date }} : {{ latest_close }}</p>
            <span style="color: red;">予測値:  {{ next_date }} : {{ prediction }}</span>
        </div>
        <img src="data:image/png;base64,{{ graph }}" alt="株価グラフ">
    {% endif %}
</body>
</html>
